<!DOCTYPE html>
<html>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Data Mining Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg fixed-top navbar-scroll">
            <div class="container">
              <img src="C:\Users\User\Downloads\data-mining-website-main\data-mining-website-main\src\logo.png" height="70" alt=""
                loading="lazy" />
              <button class="navbar-toggler ps-0" type="button" data-mdb-toggle="collapse" data-mdb-target="#website_navbar"
                aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon d-flex justify-content-start align-items-center">
                  <i class="fas fa-bars"></i>
                </span>
              </button>
              <div class="collapse navbar-collapse" id="website_navbar">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="#home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#about">About us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#contact">Contact</a>
                  </li>
                </ul>
          
                <ul class="navbar-nav flex-row">
                  <li class="nav-item">
                    <a class="nav-link px-2" href="#!">
                      <i class="fab fa-facebook-square"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link px-2" href="#!">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ps-2" href="#!">
                      <i class="fab fa-youtube"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <center>
            <div class="form-group row">
                <div class="intro_text">
                    <h1>Phishing Link Detector</h1>
                </div>
                <br>

                <div class="central_textbox col-xs-6">
                    <input type="text" id="URL_input" placeholder="Insert URL here">
                </div>

                <div class="result">
                    <p>The website is legitimate</p>
                </div>

                <div>
                    <button type="button" class="result btn btn-primary">Check Link</button>
                </div>
            </div>
        </center>

        <script src="" async defer></script>
    </body>
</html>